<mat-toolbar  color="primary" routerLink="">
    <span>Store Rigo</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/dashboard">Inicio</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/Product">Productos</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/Order">Ordenes</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>